section.consultations.section__container
    h2.section__title.consultations__title необходима консультация?
    p.consultations__descr оставьте заявку или свяжитесь с нами в социальных сетях
    .consultations__social
        +social()
    form.consultation-form(action="https://jsonplaceholder.typicode.com/posts" method="post")
        p.consultation-form__title Для #[strong консультации] заполните форму!
        span.consultation-form__descr С Вами свяжутся в ближайшее время
        .consultation-form__actions
            label#input__name
                input.imput-reset.consultation-form__input(type="text" placeholder="Ваше имя" maxlength="50" name="name" required)
            label#input__tel
                input.input-reset.consultation-form__input(type="tel" placeholder="Ваш телефон" maxlength="12" minlenght="11" name="phone" required)
            label#sumbit__btn
                button.btn-reset.consultation-form__button(type="submit") отправить
