section.hero.section__offset.section__container
    h1.hero__title Монтаж дымоходов
    nav.page-nav
        ul.page-nav__list
            each navigation in pageNavigations
                li.page-nav__item
                    a.page-nav__link(href=navigation.link)=navigation.title 
    p.main-descr В&nbsp;#[bold.main-descr__bold Дымоход.ру] вам помогут как приобрести, так и&nbsp;установить дымоход любой конфигурации. В&nbsp;нашем монтажном отделе, состоящим из&nbsp;трёх бригад работают квалифицированные специалисты, которые ежегодно проходят курсы повышения квалификации. Все работы проводим качественно и&nbsp;аккуратно, в&nbsp;короткий срок и&nbsp;на&nbsp;совесть .
