
.process__list {
    max-width: 1217px;
    max-height: 279px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    counter-reset: item;
}

.process__item {
    display: flex;
    align-items: center;
    position: relative;
    height: 85px;
    width: calc(50% - 28px);
    padding-left: 81px;
    @include classic-font;
        &:not(:nth-child(3n)) {
            margin-bottom: 12px;
        }
        &::before {
            position: absolute;
            counter-increment: item;
            content: counter(item);
            font-weight: 700;
            font-size: 70px;
            line-height: 85px;
            color: #E33E54;
            opacity: 0.2;
            left: 0;
        }
}