section.recommendations.section__offset
    h1.section__title.recommendations__title
        | Lorem ipsum dolor sit amet 
    span.recommendations__title--strong
        | Lorem ipsum
    ul.recommendations__list
        each recommend in recommendList
            li.recommendations__item=recommend
