block variables
header.header__container
    button.theme-btn.theme-btn--light#btn-js 
    .logo
        img.logo__img(src="/assets/images/Logo.png")
    button.nav__burger-btn
    nav.nav
        ul.nav__list 
            each navigation in navigations 
                li.nav__item 
                    a.nav__link(href=navigation.link)=navigation.title 
    a.tel-link(href="tel:+78125092198") +7 (812) 
            span.tel-link--bold 509 21 98
    button.callme-btn перезвоните мне
    +social-head()
    .head-func
        button.head-func__btn.btn_search 
        button.head-func__btn.btn_favourites
        button.head-func__btn.btn_shopping 



            

            

    