@import 'header/header';
@import 'footer/footer';
@import 'sections/hero';
@import 'sections/hero';
@import 'sections/recommendations';
@import 'sections/process';
@import 'sections/advants';
@import 'sections/gallery';
@import 'sections/video';
@import 'sections/consultations';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/') format('woff2'),
        url('/assets/fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Medium.woff2') format('woff2'),
        url('/assets/fonts/Montserrat-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('/assets/fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('/assets/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Light.woff2') format('woff2'),
        url('/assets/fonts/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('/assets/fonts/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

img {
    max-width: 100%;
}

body {
    min-width: 320px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    background-color: $backgroung-color;
    margin: 0;
    padding-top: 25px;
    transition: background-color 0.3s ease-in-out ;
}


//GLOB

h1, h2, h3{
    margin: 0;
    transition: color 0.3s ease-in-out;
}

li{
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
    transition: 0.3s ease-in-out;
}

ul,ol,p{
    padding: 0;
    margin: 0;
    transition: 0.3s ease-in-out;
}

button{
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out, color 0.3s ease-in-out;
}

a {
    text-decoration: none;
    color: inherit;
}

address{
    font-style: normal;
}

figure {
    margin: 0;
}

.section__container {
    max-width: 1248px;
    width: 100%;
    margin: 0 auto;
    padding-left: 7px;
    padding-right: 15px;
}

.section__title{
    position: relative;
    height: 65px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    color: $text-color;
    margin-bottom: 35px;
}

.section__title::before {
    content: "";
    position: absolute;
    width: 74px;
    height: 5px;
    background-color: $strong-color;
    top: -17px;
}

.socials-head{
    width: 115px;
    margin: auto 0;
            &__list{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            width: 115px;
            height: 17px;
        }
        &__item {
            display: inline-block;
        }
    }   
    
.socials{
        width: 203px;
        margin: auto 0;
        &__list{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            width: 203px;
            height: 17px;            
        }
        &__item {
            display: inline-block;
        }

        &__item:not(:last-child) {
            margin-right: 42px;
        }

        &__link path {
            fill: rgba(234, 102, 40, 1)
        }
    }  
    
.section__offset {
    margin-bottom: 105px;
}

.body--dark{ 
    background-color: #353b39;
}

.body--light {
    background-color: #ffffff;
}

.dark-text {
    color: #ffffff;
    &::before {
        opacity: 1;
    }
}

.svg--dark {
    fill:rgba(234, 102, 40, 1);
}

.light-text {
    color: #000000;
}

.dark-spans {
    color: #E33E54;
}



