footer.footer__container.footer__offset
    .footer__content
        .catalog
            h3.content__title
            ul.catalog__list
                each item in catalogs
                    li.catalog__item 
                        a.catalog__link(href=item.link)=item.title
        .infomation
            h3.content__title
            ul.information__list
                each inf in informations
                    li.information__item 
                        a.information__link(href=inf.link)=inf.title
        .time-and-contacts
            h3.content__title
            ul.time__list
                li.time__item 
                    p.time__item_day пн-пт
                        span.time__item_time 9:00 - 20:00
                li.time__item 
                    p.time__item_day сб-вс
                        span.time__item_time 10:00 - 18:00
        +social(footer__social)
                

